h1{
    text-align: center;
    padding-top: 20px;
}
    .border1 {
        border: solid 5px black;
        padding: 30px 10px 30px 10%;
        outline:solid 3px blue;
        margin: 60px 20% 30px 20% ;
       
       
    }

    .border2 {
        border: solid 4px red;
        margin: 1px 10% 1px 2%;
        outline: solid 3px purple;
        padding: 70px 50px 2px 30px;
       
       
    }
    
    .border3 {
        text-align: center;
        border: solid 2px  mediumvioletred;
        padding: 25px;
        outline:solid 3px darkgreen;
        margin: 6% 25% 8% 25%;
    }